<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    {% load staticfiles %}
    <link rel="icon" href="{% static 'img/favicon-2021.png' %}">
    <title>
      {% block titulo %}Repositorio de certificados digitales de CENDITEL{% endblock %}
    </title>
    {% load staticfiles %}
    <!-- Bootstrap Styles - css
    ================================================== -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link href="{% static 'css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">
    <!-- Styles - css
    ================================================== -->
    <link href="{% static 'css/theme.css' %}?version=1.1" rel="stylesheet">
    <!-- Others - js
    ================================================== -->
    <script src="{% static 'js/ie-emulation-modes-warning.js' %}"></script>
    <script src="{% static 'js/holder.min.js' %}"></script>
    <!-- Jquery - js
    ================================================== -->
    <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <!-- Bootstrap - js
    ================================================== -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- Bug fix - js
    ================================================== -->
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
  </head>
  <body>

    <!-- navbar cintillo
    ================================================== -->
    <nav class="navbar navbar-default navbar-fixed-top navbar-cintillo">
    <div class="container">
      <div align="center">
        <img class="cintillo_up" src="{% static 'img/cintillo_2021.png' %}" width="100%"></img>
      </div>
    </div>
    </nav>
    <!-- navbar cintillo end -->

    <br />
    <br />
    <br />

    <!-- Navbar
    ================================================== -->
    <nav class="navbar navbar-default navbar-default-menu">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="https://www.cenditel.gob.ve/certificados">
            <i class="glyphicon glyphicon-home"></i>
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          {% if request.user.is_authenticated %}
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="glyphicon glyphicon-menu-hamburger"></i>
                &nbsp;Menú <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="{% url 'registro:subir_data' %}">
                    <i class="glyphicon glyphicon-ok"></i>
                    Subir data .zip
                  </a>
                </li>
                <li>
                  <a href="{% url 'registro:descomprimir_zip' %}">
                    <i class="glyphicon glyphicon-ok"></i>
                    Descomprimir .zip y borrar .zip
                  </a>
                </li>
                <li>
                  <a href="{% url 'registro:subir_data_csv' %}">
                    <i class="glyphicon glyphicon-ok"></i>
                    Subir data .csv
                  </a>
                </li>
                <li>
                  <a href="{% url 'registro:insertar_data_csv' %}">
                    <i class="glyphicon glyphicon-ok"></i>
                    Insertar data .csv
                  </a>
                </li>
                <li>
                  <a href="{% url 'registro:guardar_certificado' %}">
                    <i class="glyphicon glyphicon-ok"></i>
                    Subir certificado
                  </a>
                </li>
                <li>
                  <a href="{% url 'registro:lista_certificados' %}">
                    <i class="glyphicon glyphicon-ok"></i>
                    Lista de certificados
                  </a>
                </li>
                <li>
                  <a href="{% url 'registro:salir' %}">
                    <i class="glyphicon glyphicon-log-out"></i>
                    Cerrar sesión
                  </a>
                </li>
              </ul>
            </li>
          </ul>
          {% else %}
          {% endif %}
        </div>
      </div>
    </nav>
    <!-- End navbar -->

    <!-- section-white
    ================================================== -->
    <div class="jumbotron section-white">

      <!-- Container
      ================================================== -->
      <div class="container theme-showcase" role="main">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-success alert-dismissable">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                <strong>
                  {% if message.tags %}{% endif %}
                  {{ message }}
                </strong>
            </div>
          {% endfor %}
        {% endif %}
        <!--br /-->
        {% block cuerpo %}
        {% endblock %}
        <!--div align="center">
          <hr />
          <br />
          <p>
            <h4>Los certificados están firmados electrónicamente, luego<br />
            de descargarlos puede verificar la firma usando nuestro<br />
            Portal de Firma Electrónica y Verificación.</h4>
          </p>
          <a href="https://murachi.cenditel.gob.ve">
            <button class="btn btn-primary">VERIFICAR</button>
          </a>
        </div-->
      </div>
      <!-- End Container -->

    </div>
    <!-- End section-white -->

    <!-- section-blue
    ================================================== -->
    <div class="jumbotron section-blue">

      <div class="container">

        <div class="well-footer">
          <div align="center">
            <b>
              <a href="http://www.cenditel.gob.ve" target="_blank">
                Desarrollado en el Centro Nacional de Desarrollo e Investigacion en Tecnologias Libres - CENDITEL
              </a>
              <br />
              <br />
              <a href="http://derechoinformatico.cenditel.gob.ve/licencia-de-contenido/" target="_blank">
                <img src="{% static 'img/lc-lc.png' %}" width="100px"></img>
              </a>
              <a href="http://derechoinformatico.cenditel.gob.ve/licencia-de-software/" target="_blank">
                <img src="{% static 'img/lc-ls-icon.png' %}" width="100px"></img>
              </a>
            </b>
          </div>
        </div>

      </div>

    </div>
    <!-- End section-blue -->

</body>
<script src="{% static 'js/scripts.js' %}"></script>
</html>