{% extends "registro/base.html" %}
{% block titulo %}Repositorio de certificados digitales de CENDITEL{% endblock %}
{% block cuerpo %}
<script type="text/javascript">
  document.oncontextmenu = function(){return false;}
</script>
<div align="center">
  <h1>Bienvenido al repositorio de certificados.</h1>
  <br />
  <form action="/busqueda/" method="get" onsubmit="return checkform(this);">
    <h4>
      Por favor escriba su cédula de identidad y el código
      <input type="hidden" id="txtCaptcha"/>
      <span id="txtCaptchaDiv"></span>
    </h4>
    <br />
    <input type="number" name="q" id="txtInput2" placeholder="Cédula" maxlength="8" min="999999" required>
    <br />
    <br />
    <input type="text" name="txtInput1" id="txtInput1" placeholder="Código" required/>
    <br />
    <br />
    <input type="submit" class="btn btn-success" value="Buscar">
  </form>
  <br />
  {% if certificados %}
  <p>Estas buscado: <strong>{{ query }}</strong></p>
    <span class="certificados_encontrados"><b>Certificados encontrados: {{ certificados|length }} certificado/s.</b></span>
    <br />
    <br />
    <table class="table table-striped">
      <thead>
        <tr>
          <th><b>Nombre y Apellido</b></th>
          <th><b>Cédula</b></th>
          <th><b>Evento / Curso</b></th>
          <th><b>Rol</b></th>
          <th><b>Ubicación electróica</b></th>
        </tr>
      </thead>
      {% for x in certificados %}
      <tbody>
        <tr>
          <td>
            {{ x.nombre_completo }}
          </td>
          <td>
            {{ x.cedula }}
          </td>
          <td>
            {{ x.evento_curso }}
          </td>
          <td>
            {{ x.rol }}
          </td>
          <td>
            <a href="media/{{ x.certificado }}" target="_blank">
              Descargar
              <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
            </a>
          </td>
        </tr>
      </tbody>
      {% endfor %}
    </table>
    <br />
    <br />
    <p>
      <b>Los certificados están firmados electrónicamente, luego<br />
      de descargarlos puede verificar la firma usando nuestro<br />
      Portal de Firma Electrónica y Verificación.</b>
    </p>
    <a href="https://murachi.cenditel.gob.ve/pruebaservicioweb/#verificar">
      <button class="btn btn-primary">Verificar</button>
    </a>
  {% else %}
    <!--p>Ningún certificado coincide con el criterio de búsqueda.</p-->
  {% endif %}
</div>
<script type="text/javascript">
  function checkform(theform){
    var why = "";

    if(theform.txtInput1.value == ""){
      why += "El código de seguridad no debe estar vacío.\n";
    }
    if(theform.txtInput1.value != ""){
      if(ValidCaptcha(theform.txtInput1.value) == false){
        why += "El código de seguridad no coincide.\n";
      }
    }
    if(why != ""){
      alert(why);
      return false;
    }
  }

  //Generates the captcha function
  var a = Math.ceil(Math.random() * 9)+ '';
  var b = Math.ceil(Math.random() * 9)+ '';
  var c = Math.ceil(Math.random() * 9)+ '';
  var d = Math.ceil(Math.random() * 9)+ '';
  var e = Math.ceil(Math.random() * 9)+ '';

  var code = a + b + c + d + e;
  //alert (code);
  document.getElementById("txtCaptcha").value = code;
  document.getElementById("txtCaptchaDiv").innerHTML = code;

  // Validate the Entered input aganist the generated security code function
  function ValidCaptcha(){
      var str1 = document.getElementById('txtCaptcha').value;
      var str2 = document.getElementById('txtInput1').value;
      if (str1 == str2){
      return true;
    } else {
      return false;
    }
  }
</script>
{% endblock %}