{% extends "registro/base.html" %}
{% block titulo %}Lista de certificados{% endblock %}
{% block cuerpo %}
<h1>Lista de certificados</h1>
<br />
<table class="table table-striped">
  <thead>
    <tr>
      <th><b>ID</b></th>
      <th><b>Nombre y Apellido</b></th>
      <th><b>Cédula o ID</b></th>
      <th><b>Evento / Curso</b></th>
      <th><b>Rol</b></th>
      <th><b>Fecha</b></th>
      <th><b>Ubicación electróica</b></th>
      <th><b>Acciones</b></th>
    </tr>
  </thead>
  {% for x in object_list %}
  <tbody>
    <tr>
      <td>
        {{ x.id }}
      </td>
      <td>
        {{ x.nombre_completo }}
      </td>
      <td>
        {{ x.cedula }}
      </td>
      <td>
        {{ x.evento_curso }}
      </td>
      <td>
        {{ x.rol }}
      </td>
      <td>
        {{ x.uploaded_at }}
      </td>
        <td>
          <a href="media/{{ x.certificado }}" target="_blank">
            Descargar
            <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
          </a>
        </td>
      <td>
        <a href="{% url 'registro:editar_certificado' x.id %}">
          <button class="btn btn-primary">Editar</button>
        </a>
      </td>
      <td>
        <a href="{% url 'registro:borrar_certificado' x.id %}">
          <button class="btn btn-danger">Borrar</button>
        </a>  
      </td>
    </tr>
  </tbody>
  {% endfor %}
</table>
{% endblock %}